
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- MY ACCOUNT PAGE -->
<section class="my_account parallax img_log">

    <!-- CONTAINER -->
    <div class="container">

        <div class="my_account_block clearfix">
            <div class="login">
                <h2>TÔI ĐÃ CÓ TÀI KHOẢN</h2>
                <div class="login_form">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        @ViewData["Error1"]
                        @Html.TextBox("username", "", new { placeholder = "Tên đăng nhập" })
                        @ViewData["Error2"]
                        @Html.TextBox("password", "", new { placeholder = "Mật khẩu", @style = "-webkit-text-security: square;" })
                        <div class="clearfix">
                            <div class="pull-left"><input type="checkbox" id="categorymanufacturer1" /><label for="categorymanufacturer1">Nhớ đăng nhập</label></div>
                            <div class="pull-right"><a class="forgot_pass" href="javascript:void(0);">Quên mật khẩu?</a></div>
                        </div>
                        <h4 style="color:red">@ViewBag.Thongbao</h4>
                        <div class="center"><input type="submit" value="Đăng nhập"></div>
                    }  
                </div>
            </div>
            <div class="new_customers">
                <h2>KHÁCH HÀNG MỚI</h2>
                <h3>Đăng ký tài khoản bạn sẽ nhận được những lợi ích sau:</h3>
                <ul>
                    <li><h4>—  Mua sắm dễ dàng hơn</h4></li>
                    <li><h4>—  Thanh toán nhanh chóng và dễ dàng</h4></li>
                    <li><h4>—  Hưởng được nhiều ưu đãi hấp dẫn</h4></li>
                    <li><h4>—  Sử dụng dịch vụ một cách tốt nhất</h4></li>
                </ul>
                <div class="center"><a class="btn active" href="~/NguoiDung/DangKy">Đăng ký tài khoản mới</a></div>
            </div>
        </div>

        <div class="my_account_note center">Bạn cần hỗ trợ?  <b>(+84) 1205 070 996</b></div>
    </div><!-- //CONTAINER -->
</section><!-- //MY ACCOUNT PAGE -->

